html,
body {
  overscroll-behavior-y: contain;
}

img {
  max-width: 100%;
}

@import "tailwindcss";

@font-face {
  font-family: "TT Ramillas";
  src: url("/fonts/tt_ramillas/light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Ramillas";
  src: url("/fonts/tt_ramillas/regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Ramillas";
  src: url("/fonts/tt_ramillas/medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Ramillas";
  src: url("/fonts/tt_ramillas/bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: var(--font-inter-sans);
}

:root {
  --primary-green-color: #113120;
  --secondary-color: #ffe18f;
  --primary: "";
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* overflow: hidden; */
}

.tt-light {
  font-family: "TT Ramillas", serif;
  font-weight: 300;
}

.tt-regular {
  font-family: "TT Ramillas", serif;
  font-weight: 400;
}

.tt-medium {
  font-family: "TT Ramillas", serif;
  font-weight: 500;
}

.tt-bold {
  font-family: "TT Ramillas", serif;
  font-weight: 700;
}

.container {
  margin: 0 auto;
  padding: 0;
}

.custom-container {
  max-width: 540px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
}

.desc {
  line-height: 1.5;
  text-wrap: nowrap;
  font-size: 15px;
  letter-spacing: -0.29px;
  font-weight: 300 !important;
  color: #242424;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.news_container .swiper-wrapper {
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

.change_icon_clr img {
  filter: invert(1);
}

body.active .circle-pointer {
  background-color: #fff;
}

body.active .text {
  color: #fff;
}

body.active .icon {
  filter: invert(1);
}

.beige_bg {
  background: #fff1df;
}

.project-card-cta:hover {
  color: #ffd38f;
}

.read-more {
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.read-more:hover {
  color: #113120;
}

.read-more:hover img {
  transform: rotate(40deg);
}

.submit-btn button {
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.submit-btn button:hover {
  color: #ffd38f;
}

.change_icon_clr {
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.change_icon_clr:hover {
  color: #ffd38f;
}

.change_icon_clr:hover img {
  transform: rotate(40deg);
}

@media (max-width: 1600px) {
  .container {
    padding: 0;
    /* padding: 0 15px; */
  }
}

/* for large device  */
@media (min-width: 96rem) {
  .container {
    max-width: 100rem;
    /* 1600px  */
  }

  .custom-container {
    max-width: 100%;
    /* 1600px  */
    padding: 40px 15px 0 0;
  }

  .large-desktop {
    padding-left: 100px;
    padding-right: 100px;
  }

  .scrollable-container {
    max-width: 96%;
  }


}

.custom-container .prog {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}

.prog::after {
  content: "";
  background-color: #525252;
  border-radius: 10px;
  width: 8px;
  height: 28px;
  position: relative;
  top: 0;
  left: 0;
}

.border_line {
  /* background-color: #000; */
  background: #ffffff66;
}

body .border_line {
  transition: 1s all;
}

footer * {
  transition: 1s all;
}

body.active .border_line {
  background: #ffffff66;
  /* background: linear-gradient(45deg, black 40%, #fdfdfd 56%); */
}

body.active .next_text h2 {
  color: #fff;
}


body.active .next_text img {
  filter: invert(1);
}

body.hero-active .logo-black,

body.hero-active .logo-white {
  display: none;
}

body.hero-active .hero-act{
  background-color: transparent !important;
    margin-left: auto;
    color: #fff;
}
body.hero-active .circ{
  background-color: #fff;
}
  body.hero-active .mobile-header-bg {
    background: transparent !important;
    padding-top: 20px;
  }

body.hero-active .prev_title,
body.extra-active .prev_title {
  color: #fff;
}

body.extra-active .logo-black {
  display: none;
}

.logo-white {
  display: none;
}

body.extra-active .logo-white {
  display: block;
}

body.extra-active .slide-arr,
body.extra-active .btn-arr .arrow_container {
  filter: invert(1);
}

.change_style {
  align-items: center;
}

.change_style .prev_title {
  font-size: 18px;
  font-weight: 400;
  flex: 0 0 auto;
  letter-spacing: 4px;
}

.change_style .border_line {
  margin: 0;
}

.projects_container .swiper-slide {
  width: 80%;
}

.swiper-button-disabled {
  opacity: 0.5;
}

@media (min-width: 768px) {
  .scrollable-container {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
  }
}

.overlay_gradient {
  background: linear-gradient(rgb(17 49 32 / 0%) 0%, #113120 100%);
}

input[type="file"] {
  background-color: #f9f9f9;
  padding: 0;
  height: 51px;
  text-transform: uppercase;
  letter-spacing: 1.2;
  font-size: 14px;
}

input[type="file"]::file-selector-button {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  height: 100%;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

input[type="file"]::file-selector-button:hover {
  background-color: #ffe0af;
}

input[type="file"]::-webkit-file-upload-button {
  background-color: #ffe0af;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  height: 100%;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #ffe0af;
}

input[type="file"]::-ms-browse {
  background-color: #ffe0af;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  height: 100%;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.swiper-3d .swiper-slide-shadow {
  box-shadow: none;
  background-color: transparent !important;
}

.custom-progress .swiper-progressbar-fill {
  background-color: #22c55e;
}

.swiper-pagination-progressbar.swiper-pagination-horizontal {
  position: relative;
  height: 1px;
}

input {
  font-size: 16px;
  font-weight: 300;
}

input-placeholder {
  font-size: 14px;
  font-weight: 300;
}

@media (1200px <=width <=1450px) {
  header.fixed :where(.logo img, .logo-white img) {
    height: 60px !important;
  }

  .drag_button {
    margin-top: 10px !important;
  }

  /* .project-card-image{
    height: 420px;
  }
  .button-img{
    height: 170px;
  } */
  #blog-listing {
    padding-top: 70px;
    gap: 140px;
    max-width: 69%;
    justify-content: end;
    margin: 0 auto;
  }

  .footer a {
    padding: 18px 0;
  }

  .media {
    padding-top: 0;
  }

}

@media (max-width: 1580px) {
  .projects_container .project_card h2 {
    font-size: 30px;
  }

  .teams_card {
    padding-top: 50px;
  }

  .teams_card img {
    margin-top: 20px;
  }

  .leaf_icon {
    width: 15%;
  }

  .drag_button {
    margin-top: 50px;
    /* 50px */
  }

  .desktop-margin {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .parallax h2 {
    font-size: 34px;
  }

  .custom-container {
    max-width: 660px;
  }

  .py_sm {
    padding: 30px 0;
    margin: 30px 0;
  }
}

@media (max-width: 768px) {
  .leaf_icon {
    width: 40%;
  }
}

.listing_container {
  display: flex;
  gap: 200px;
  justify-content: center;
}

.listing_container li {
  white-space: nowrap;
}

.listing_container li {
  position: relative;
}

.listing_container li:last-child::after {
  display: none;
}

.listing_container li::after {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  width: 50%;
  height: 1px;
  display: block;
  position: absolute;
  right: -65%;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-pagination {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
  opacity: 0;
}

.fadeEffect::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 307px;
  background: linear-gradient(85deg, #00000000, #f7efe1 69%);
}

.full-color .change_style .prev_title {
  color: #fff;
}

.full-color .border_line {
  background-color: #fff;
}

.full-color footer h2 {
  color: #fff;
}

.full-color footer img {
  filter: invert(1);
}

.full-color header span {
  color: #fff;
}

.full-color header img {
  filter: invert(1);
}

.full-color header .span_2 {
  color: #fff;
  background-color: #fff;
}

.gallery_project_st .prog:after {
  content: "";
  background-color: #525252;
  border-radius: 0;
  width: 38px;
  height: 2px;
  position: relative;
  top: 0;
  left: 0;
}

.gallery_project_st .prog {
  height: 0.6px;
}

.gallery_project_st .drag_button {
  margin: 0;
}

/* mobile devices css  */
@media (280px <=width <=480px) {
  body {
    background-color: #F7EFE1;
  }

  .hero-active {
    background-color: #f7efe1;
  }

  .mobile-line {
    background-color: #000000;
  }

  .mobile-header {
    padding: 10px;
    height: 40px;
  }

  body.active .next_text h2 {
    color: #000;
  }

  .mobile-device {
    background-color: #F7EFE1;
    padding-right: 10px;
    padding-left: 10px;
    z-index: 9999;
  }

  .parallax {
    /* padding: 70px 0; */
  }

  .mobile-background {
    background-color: #F7EFE1;
  }

  .btn-arr {
    color: #000;
  }

  .job_cards {
    padding: 0px;
  }

  .job-card {
    border: 1px solid #000;
   
  }

  .large-desktop {
    padding: 12px;
  }

  .scrollable-container {
    padding-top: 12px;
  }

  .job_cards h3,
  .job_cards span {
    color: #000;
  }

  .submit-btn button {
    font-weight: 400;
  }

  .contact-form {
    padding: 20px;
  }

  .input-container input {
    background-color: #FFF1DF;
  }

  .input-container select {
    background-color: #FFF1DF;
  }

  .input-container textarea {
    background-color: #FFF1DF;
  }

  .mobile-para,
  .mobile-color h2 {
    /* color: #000; */
  }

  .mobile-heading-2 {
    padding: 0px 12px;
  }

  .container {
    padding: 0px 12px;
  }

  /* .common-heading {
    color: #000 !important;
    font-size: 22px !important;
  } */

  .mobile-map {
    /* background-color: #000; */
    max-width: 100%;
  }

  .mobile-footer {
    padding: 20px 0;
  }

  .mobile-container {
    padding: 0 20px;
  }

  /* Projects Mobile Slider Dots */
  .mobile-projects-swiper .swiper-pagination {
    bottom: -5px !important;
  }

  .mobile-projects-swiper .swiper-pagination-bullet {
    background: #000;
    opacity: 0.3;
  }

  .mobile-projects-swiper .swiper-pagination-bullet-active {
    background: #000;
    opacity: 1;
  }

  .desc {
    text-wrap: wrap;
  }

  .common-heading,
  .parallax h2 {
    font-size: 24px;
  }

  /* body.hero-active .mobile-header-bg {
    display: none;
  } */
}

.mobile-header-bg {
  background-color: #fff;
}

body.hero-active .mobile-header-bg {
  background-color: #f7efe1;
}